.Book-Form {
  display: flex;
  justify-content: space-between;
}

.Button {
  background-color: #0290ff;
  color: #fff;
  border: none;
  text-align: center;
  letter-spacing: 0.5px;
  height: 2.813rem;
  width: 11.5rem;
}

.Select {
  width: 17.813rem;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 0.813rem 1rem;
  background-color: #fff;
}

.Input {
  width: 25.5rem;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}
